@model LoginRequestDto
@{
    ViewData["Title"] = "Login";
}
<h1 class="text-center">Login</h1>
<form asp-controller="Auth" asp-action="Login" method="post">
    <div class="row text-center">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="form-group">
        <label for="EmailAddress">Email Address</label>
        <input asp-for="EmailAddress" class="form-control" type="text" placeholder="Email Address" />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input asp-for="Password" class="form-control" type="text" placeholder="Password" />
    </div><br />
    <div class="form-group">
        <input class="btn btn-sm btn-outline-dark" asp-for="EmailAddress" class="form-control" type="submit" value="Submit" />
    </div>
</form>

